<!-- Sidebar -->
    <div class="bg-dark" id="sidebar-wrapper">
        <div class="navbar-brand sidebar-heading text-center py-4 text-white fs-4 fw-bold text-uppercase border-bottom">PKS
        </div>
        <div class="bg-dark list-group list-group-flush my-3">
            <a href="{{ path('admin.home.index') }}" class="list-group-item list-group-item-action bg-transparent second-text fw-bold"><i
                    class="fas fa-tachometer-alt me-2"></i>Tableau de bord</a>
            <a href="" class="list-group-item list-group-item-action bg-transparent second-text fw-bold"><i
                    class="fas fa-chart-line fa-thin fa-folder me-2"></i>Catégories</a>
            <a href="" class="list-group-item list-group-item-action bg-transparent second-text fw-bold"><i
                    class="fas fa-regular fa-file-signature me-2"></i>Articles</a>
            <a href="" class="list-group-item list-group-item-action bg-transparent second-text fw-bold"><i
                    class="fas fa-paperclip me-2"></i>Tags</a>
            <a href="#" class="list-group-item list-group-item-action bg-transparent second-text fw-bold"><i
                    class="fas fa-solid fa-book me-2"></i>Contacts</a>
            <a href="#" class="list-group-item list-group-item-action bg-transparent second-text fw-bold"><i 
                    class="fas fa-solid fa-user me-2"></i>Utilisateurs</a>
            <a href="#" class="list-group-item list-group-item-action bg-transparent second-text fw-bold"><i
                    class="fas fa-comment-dots me-2"></i>Commentaires</a>
            <a href="#" class="list-group-item list-group-item-action bg-transparent second-text fw-bold"><i
                    class="fas fa-power-off me-2 text-danger"></i><i class="fa-sharp fa-solid fa-feather-pointed"></i>Déconnexion</a>
        </div>
    </div>
<!-- /#sidebar-wrapper -->